{% extends 'admin_template/base.html' %}
{% block main_content %}

<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh;">
  
  <form method="post" action="/admin_panel/edit/{{customer.pk}}/" class="mx-auto " style="max-width: 600px; width: 90%;margin-top: 30px;">
    {% if error_message %}
    <script>
        alert("{{ error_message }}");
    </script>
    {% endif %}
    <h3 class="text-center">EDIT CUSTOMER</h3>
    <hr>
    {% csrf_token %}
    <!-- Email input -->
    <div class="mb-4">
      <input type="text" name="name" placeholder="Name" id="form2Example1" class="form-control" style="width: 100%;" />
    </div>
  
    <!-- Password input -->
    <div class="mb-4">
      <input type="email" name="email" placeholder="Email" id="form2Example2" class="form-control" style="width: 100%;" />
    </div>
    <div class="mb-4">
      <input type="number" name="amount" placeholder="Amount" id="form2Example2" class="form-control" style="width: 100%;" />
    </div>
    <div class="mb-4">
      <input type="number" name="account_id" placeholder="Amount ID" id="form2Example2" class="form-control " style="width: 100%;border-color: rgb(80, 141, 19);" />
    </div>
    
    <!-- Submit button -->
    <button type="submit" class="btn btn-primary btn-block mb-4" style="background-color: rgb(80, 141, 19);">Insert</button>
  </form>
</div>


  
{% endblock main_content %}